#ra{
    color: blue;
}
p:nth-child( even){
    color: white;
    font-size: 20px;
    background-color:green;
}
p:nth-child(odd){
    color: white;
    font-size: 20px;
    background-color: yellow;
}
p:first-child{
    color: blue;
    font-size: 15px;
    text-shadow: 2px 2px 3px;
}
p:last-child{
    color: brown;
    font-size: 15px;
    text-shadow: 2px 2px 3px;
}
 